*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body>table{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%,50%);
    font-size: 20px;
    width: 60%;
    height: 30%;
    color: rgb(49, 48, 48);
    border-radius: 5px;
    text-align: center;
}
.titulos{
    font-weight: bold;
}
.alt{
    color:white;
    text-decoration: none;
    border: orangered solid;
    background-color: orangered;
    border-radius: 15px;
}
.alteracao{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%,50%);
    font-size: 20px;
    color: rgb(49, 48, 48);
    border-radius: 5px;
    text-align: center;
}


